@import url('normalize.css');
@import url('formalize.css');
// sabitler
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #e5e5e5;
    color: #fff;
}

$kirimizi:#ed1c24;
$mavi:#201c50;
$sari:#fff200;
i {
    color: #fff;
    font-size: 24px;
    &:hover {
        color: $mavi;
    }
    &+i {
        margin-left: 10px;
    }
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

.w80 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.sosyalbant{
    background-color: $kirimizi;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tasiyici{
    display: flex;
    @media (max-width: 576px) { 
        flex-direction: column;
     }
}
.sosyalikon{
    display: flex;
    @media (max-width: 576px) { 
        justify-content: center;
     }
}
.telefon{
    display: flex;
    margin-left: auto;
    @media (max-width: 576px) { 
        padding-top: 10px;
        font-size: 1.2em;
        justify-content: center;
        margin-left: 0;
     }
}

