@import url('normalize.css');
@import url('formalize.css');
// sabitler
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #e5e5e5;
    color: #fff;
}
$kirimizi:#ed1c24;
$mavi:#201c50;
$sari:#fff200;
i{
    color: #fff;
    font-size: 24px;
    &:hover{
        color: $mavi;
    }
    &+i{
        margin-left: 10px;
    }
}
h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}
.ortala{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
// Header Kodları
.header{
    width: 100%;
    .sosyalbant{
        background-color: $kirimizi;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.telefon{
    margin-left: auto;
    span{
        color: #fff;
        font-size: 24px;
        font-weight: 600;
    }
}

.ikonbant{
    background-color: $mavi;
        padding-top: 10px;
        padding-bottom: 10px;
}
