@import url('normalize.css');
@import url('formalize.css');
// sabitler
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}
.ersen{
    color: aqua;
}

