@import url("normalize.css");
@import url("formalize.css");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #e5e5e5;
  color: #fff; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

.full {
  width: 100%; }

.kirmizi {
  color: red; }

.cerceve {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sosyal_bant {
  background-color: red; }
  .sosyal_bant .telefon {
    margin-left: auto; }
